@page "/dialogs-and-overlays"

<div class="column-layout dialogs-and-overlays-container">
    <div class="row-layout group">
        <div class="row-layout group_1">
            <IgbButton class="button" dialogs-and-overlays-scope>
                <span class="material-icons">
                    open_in_new
                </span>
                <span>Open custom dialog</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <span class="custom-dialog">Dialog not yet available in Blazor</span>
        </div>
        <div class="row-layout group_1">
            <IgbButton class="button" dialogs-and-overlays-scope>
                <span class="material-icons">
                    open_in_new
                </span>
                <span>Open alert dialog</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <span class="custom-dialog">Dialog not yet available in Blazor</span>
            <span class="custom-dialog">Dialog not yet available in Blazor</span>
        </div>
        <div class="row-layout group_1">
            <IgbButton class="button" dialogs-and-overlays-scope>
                <span class="material-icons">
                    open_in_new
                </span>
                <span>Open confirmation dialog</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <span class="custom-dialog">Dialog not yet available in Blazor</span>
        </div>
    </div>
    <div class="row-layout group">
        <div class="row-layout group_2">
            <IgbButton @onclick="@(e => Snackbar?.Toggle())" class="button" dialogs-and-overlays-scope>
                <span class="material-icons">
                    open_in_new
                </span>
                <span>Open snackbar</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div class="row-layout group_2">
            <IgbButton class="button" dialogs-and-overlays-scope>
                <span class="material-icons">
                    open_in_new
                </span>
                <span>Open banner</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
    <IgbSnackbar ActionText="Dismiss" Action="@(e => Snackbar?.Toggle())" @ref="Snackbar" class="snackbar" dialogs-and-overlays-scope>
        This is a message
    </IgbSnackbar>
    <span class="banner">Banner not yet available in Blazor</span>
</div>

@code {
    private IgbSnackbar? Snackbar;
}
