@page "/pickers-combo"

<div class="row-layout pickers-combo-container">
    <div class="row-layout group">
        <div class="column-layout group_1">
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
            <span class="user-input">Select not yet available in Blazor</span>
        </div>
        <div class="column-layout group_1">
            <span class="user-input">Combo not yet available in Blazor</span>
            <span class="user-input">Combo not yet available in Blazor</span>
            <span class="user-input">Combo not yet available in Blazor</span>
            <span class="user-input">Combo not yet available in Blazor</span>
            <IgbButton @onclick="@(e => Dropdown?.Toggle(Button))" @ref="Button" class="user-input" pickers-combo-scope>
                <span>Dropdown</span>
                <span class="material-icons">
                    keyboard_arrow_down
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbDropdown @ref="Dropdown" class="dropdown" pickers-combo-scope>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
                <IgbDropdownItem>
                    Option
                </IgbDropdownItem>
            </IgbDropdown>
        </div>
    </div>
</div>

@code {
    private IgbButton? Button;
    private IgbDropdown? Dropdown;
}
