@page "/tab-layout"

<div class="row-layout tab-layout-container">
    <div class="column-layout group">
        <IgbTabs class="tabs" tab-layout-scope>
            <IgbTab>Label</IgbTab>
            <IgbTab>Label</IgbTab>
        </IgbTabs>
        <IgbTabs class="tabs" tab-layout-scope>
            <IgbTab>Label</IgbTab>
            <IgbTab>Label</IgbTab>
            <IgbTab>Label</IgbTab>
            <IgbTab>Label</IgbTab>
        </IgbTabs>
        <IgbTabs class="tabs" tab-layout-scope>
            <IgbTab>
                <span class="material-icons">assignment</span>
            </IgbTab>
            <IgbTab>
                <span class="material-icons">account_balance_wallet</span>
            </IgbTab>
            <IgbTab>
                <span class="material-icons">account_circle</span>
            </IgbTab>
            <IgbTab>
                <span class="material-icons">info</span>
            </IgbTab>
        </IgbTabs>
        <IgbTabs class="tabs" tab-layout-scope>
        </IgbTabs>
        <div class="row-layout group_1">
            <IgbTabs Alignment="TabsAlignment.Justify" class="tabs" tab-layout-scope>
                <IgbTab>Tab </IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>Label</IgbTab>
                <IgbTab>TabEnd</IgbTab>
            </IgbTabs>
        </div>
    </div>
    <div class="column-layout group">
        <IgbTabs Alignment="TabsAlignment.Justify" class="tabs" tab-layout-scope>
            <IgbTab>input + grid</IgbTab>
            <IgbTab>Wrapping content</IgbTab>
            <IgbTab>Row layout + grid</IgbTab>
            <IgbTab>Column layout + grid</IgbTab>
        </IgbTabs>
    </div>
</div>

@code {
}
